{% extends 'base.html' %}

{% block content %}

<h1>Mettre à jour un animal</h1>

<form action="{{ base_path ~ '/animal/update/' ~ animal.id }}" method="POST">
    <label for="species">Espèce :</label>
    <input type="text" name="species" id="species" value="{{ animal.species }}">

    <label for="country"> Pays d'origine :</label>
    <input type="text" name="country" id="country" value="{{ animal.country }}">

    <button type="submit">Update</button>
</form>

<a href="{{ base_path ~ '/' }}">Retour à l'accueil</a>

{% endblock %}